*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #fff;
}
.banner{
    height: 100dvh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(photos/cartbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.marq{
    font-size: 30px;
}
.navbar{
    height: 10%;
    width: 85%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 80px;
    height: 80px;
    cursor: pointer;
    border-radius: 100%;
    margin-left: 25px;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #ffc107;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
} 
.navbar ul li:hover::after{
    width: 100%;
}
h1{
    text-align: center;
}
.content{
    margin-left: 10%;
}
table{
    margin: 50px;
    margin-bottom: 30px;
    text-align: center;
    width: 75%;
    font-size:large;
}
table tr:nth-child(1){
    font-size: x-large;
}
.sub{
    text-align: center;
}
.sub button{
    background-color: rgb(17, 107, 17);
    font-size: x-large;
    margin-top: 30px;
    border-radius: 10px;
    width: 130px;
    height: 50px;
}
.sub button:hover{
    transform: scale(1.2);
    cursor: pointer;
}