*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #ffffff;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
}
.banner{
    width: 100%;
    height: 150vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(photos/paymentbg.jpg);
    background-size: cover;
    background-position: center;
}
.marq{
    font-size: 30px;
}
.navbar{
    height: 10%;
    width: 85%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 80px;
    height: 80px;
    cursor: pointer;
    border-radius: 100%;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #ffc107;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
} 
.navbar ul li:hover::after{
    width: 100%;
}

.navbar{
    height: 10%;
    width: 85%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 80px;
    height: 80px;
    cursor: pointer;
    border-radius: 100%;
}
.container{
    min-height: 100vh;
    backface-visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-bottom: 60px;
}
.container form{
    backface-visibility:visible;
    border-radius: 5px;
    box-shadow: 15px 15px 15px 15px rgba(0,0,0,0.9);
    padding: 20px;
    width: 600px;
    padding-top: 160px;
}
.container form .inputbox{
    margin-top: 20px;
}
.container form .inputbox span{
    display: block;
    color: #ffffff;
    padding-bottom: 5px;
}
.container form .inputbox input,
.container form .inputbox select{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.3);
    color: #444;
}
.container form .flexbox{
    display: flex;
    gap: 25px;
}
.container form .flexbox .inputbox{
    flex: 1 1 150px;
}
.container form .submit{
    width: 100%;
    background: linear-gradient(45deg,blueviolet,deeppink);
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    color:#fff;
    cursor: pointer;
    transform: .2s linear;
    border-radius: 10px;
}
.container form .submit:hover{
    letter-spacing: 2px;
    opacity: .8;
}
.container .card{
    margin-bottom: -150px;
    position: relative;
    height: 250px;
    width: 400px;
}
.container .card .front{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(45deg,blueviolet,deeppink);
    border-radius: 5px;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
    padding: 20px;
    transition:transform .4s ease-out;
}
.container .card .front .image{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}
.container .card .front .image img{
    height: 50px;
}
.container .card .front .cardnumber{
    padding: 30px 0;
    font-size: 22px;
    color: #fff;
}
.container .card .front .flexbox{
    display: flex;
}
.container .card .front .flexbox .box:nth-child(1){
    margin-right: auto;
}
.container .card .front .flexbox .box{
    font-size: 15px;
    color: #fff;
    padding-top: 70px;
}
.container .card .back{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg,blueviolet,deeppink);
    border-radius: 5px;
    padding: 20px 0;
    text-align: right;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
    transform: perspective(1000px) rotateY(180deg);
    transition:transform .4s ease-out;
}
.container .card .back .stripe{
    background: #000;
    width: 100%;
    margin: 10px 0;
    height: 50px;
}
.container .card .back .box{
    padding: 0 20px;
}
.container .card .back .box span{
    color:#fff;
    font-size: 15px;
}
.container .card .back .box .cvvbox{
    height: 50px;
    padding: 10px;
    margin-top: 5px;
    color: #333;
    background: #fff;
    border-radius: 5px;
    width: 100%;
}
.container .card .back .box img{
    padding-top: 20px;
    height: 50px;
}
option{
    color:#000
}